.about_us{
    color: red;
}
.skills{
    color:yellow;
}
.portfolio{
    color:green;
}
.kontakt{
    color:hotpink;
}
#about_us{
    background-color: blueviolet;
}
#kwadrat1{
    height: 50px;
    width: 50px;
    background-color: blue;
    display: inline-block;
}
#kwadrat2{
    height: 50px;
    width: 50px;
    background-color: green;
    display: inline-block;
}
#kwadrat3{
    height: 50px;
    width: 50px;
    background-color:yellow;
    display: inline-block;
}
#kwadrat4{
    height: 50px;
    width: 50px;
    background-color: rebeccapurple;
    display: inline-block;
}
#kwadrat_1{
    height: 50px;
    width: 50px;
    background-color: rebeccapurple;
    border: 4px solid firebrick;
}
#kwadrat_2{
    height: 50px;
    width: 50px;
    background-color: skyblue;
    border: 4px solid greenyellow;
}
#kwadrat_3{
    height: 50px;
    width: 50px;
    background-color: palevioletred;
    border: 4px solid red;
}
#imie{
    width: 220px;
    height: 20px;
    background-color: cadetblue;
    display: block;
}
#temat{
    width: 220px;
    height: 20px;
    background-color: cadetblue;
    display: block;
}
#message{
    background-color: cadetblue;
    width: 220px;
    display: block;
}
#submit{
  width: 50px;
  height: 30px;
  background-color: cadetblue;
}