
 @media(min-width:992px){
    body{
        display: flex;
        flex-wrap: wrap;
        color:white;
        text-transform: uppercase;
        text-align: center;
    }
    header{
        flex-basis: 100%;
        background-color: red;
    }
    .a1{
        flex-basis: 20%;
        background-color:green;
    }
    .a2{
        flex-basis: 20%;
        background-color: violet;
    }
    article{
        flex-basis: 60%;
        background-color: cadetblue;
    }
    footer{
        flex-basis: 100%;
        background-color: blueviolet;
    }
 }
 @media(max-width:992px){
    body{
        display: flex;
        flex-wrap: wrap;
        color:white;
        text-transform: uppercase;
        text-align: center;
    }
    header{
        flex-basis: 100%;
        background-color: red;
        flex-grow: 1;
        order:0;
    }
    .a1{
        flex-basis: 100%;
        background-color:green;
        flex-grow: 5;
        order:3;
    }
    .a2{
        flex-basis: 20%;
        background-color: violet;
        order:2;
    }
    article{
        flex-basis: 80%;
        background-color: cadetblue;
        order:1;
    }
    footer{
        flex-basis: 100%;
        background-color: blueviolet;
        order:4;
    }
 }
 @media(max-width:768px){
    body{
        display: flex;
        flex-direction: column;
        color:white;
        text-transform: uppercase;
        text-align: center;
    }
    header{
        flex-basis: 15%;
        background-color: red;
        order:0;
    }
    .a1{
        flex-basis: 35%;
        background-color:green;
        order:2;
    }
    .a2{
        flex-basis: 35%;
        background-color: violet;
        order:3;
    }
    article{
        flex-basis: 35%;
        background-color: cadetblue;
        order:1;
    }
    footer{
        flex-basis: 15%;
        background-color: blueviolet;
        order:4;
    }
 }